<div class="card"
style="width: 100%; padding-left: 5%; padding-right: 5%;padding-top: 2%; background: rgb(10, 104, 104); border-color: white; color: white;">
<div class="row">
  <div class="column" style="width: 20%;">
      Fan
      <br>
      LED & Lighting
      <br>
      Cables & Wires
      <br><br>
      Switches & Automation <br><br>
      Protection Devices <br>
      Switchgears <br>
      Appliances <br>
      Weatherproof Devices <br>
      Consumables <br>
      Tools & Elec Hardware <br>
      Meter
  </div>
  <div class="column" style="width: 80%;color: white;">
    <a href="#" class="link">Celling Fans</a> | <a href="#" class="link">Luxury Fans</a> | <a href="#" class="link">Wall Fans</a> | <a href="#" class="link">Table Fans & Personal Fans</a>
     | <a href="#" class="link">Exhaust Fans</a> | <a href="#" class="link">Pedestal Fans</a> | <a href="#" class="link">Tower Fans</a>
     <br>
     <a href="#" class="link">LED Lights</a> | <a href="#" class="link">CFLs</a> | <a href="#" class="link">Domestic Tube Fitting</a> | <a href="#"class="link">Flood Lights</a>
     | <a href="#" class="link">Ballasts & Igniters</a> | <a href="#" class="link">Decorative Lights</a> | <a href="#" class="link">Lamps</a> | <a href="#" class="link">Desk Lights</a>
     | <a href="#" class="link">Street Lights</a>
     <br>
     <a href="#" class="link">House Wires(1mm-6mm)</a> | <a href="#" class="link">Flexible Wires</a> | <a href="#" class="link">Multicore Cables And Wires</a> | <a href="#" class="link">Coaxial Cables</a>
     | <a href="#" class="link">Networking Cables & Accessries</a> | <a href="#" class="link">Fiber Glass Cables</a> | <a href="#" class="link">Telephone Cables & Accessories</a> | <a href="#" class="link">Camera Wires</a>
     | <a href="#" class="link">Armoured Cables</a> | <a href="#" class="link">Solar DC Wires</a> | <a href="#" class="link">Shield Wires</a>
     <br>
     <a href="#" class="link">Modular Switches</a> | <a href="#" class="link">Modular Sockets</a> | <a href="#" class="link">Fan Regulators & Dimmers</a> | <a href="#" class="link">RJ11, RJ45 & TV Sockets</a>
     | <a href="#" class="link">Indicators & Buzzers</a> | <a href="#" class="link">Plates & Boxes</a> | <a href="#" class="link">USB, HDMI, RC, VGA Sockets</a> | <a href="#" class="link">Modular Protection</a>
     | <a href="#" class="link">Automation</a> | <a href="#" class="link">For Hospitality</a> | <a href="#" class="link">Pop Up Boxes</a>
     <br>
     <a href="#" class="link">MCBs</a> | <a href="#" class="link">ELCB Or RCCB</a> | <a href="#" class="link">RCBOs</a> | <a href="#" class="link">MCCBs</a>
     | <a href="#" class="link">Isolators</a> | <a href="#" class="link">MCB Changeovers</a> | <a href="#" class="link">Distribution Boards</a>
     <br>
     <a href="#" class="link">Control Gears</a> | <a href="#" class="link">Capacitors</a> | <a href="#" class="link">Industrial Plugs And Sockets</a> | <a href="#" class="link">Flexible Conduits</a>
     <br>
     <a href="#" class="link">Air Cooler</a> | <a href="#" class="link">Irons</a> | <a href="#" class="link">Cooking</a> | <a href="#" class="link">Geysers</a>
     | <a href="#" class="link">Room Heater</a> | <a href="#" class="link">Food Preparation</a> | <a href="#" class="link">Brewing</a> | <a href="#" class="link">Domestic Motors & Pumps</a>
     | <a href="#" class="link">Chimney/Hoods</a> | <a href="#" class="link">UPS, Invertors & Stabilizers</a>
     <br>
     <a href="#" class="link">MCB Enclosure</a> | <a href="#" class="link">Junction Boxes</a> | <a href="#" class="link">Cooking</a> | <a href="#" class="link">Geysers</a>
     | <a href="#" class="link">Room Heater</a> | <a href="#" class="link">Food Preparation</a> | <a href="#" class="link">Brewing</a> | <a href="#" class="link">Domestic Motors & Pumps</a>
     | <a href="#" class="link">Chimney/Hoods</a> | <a href="#" class="link">UPS, Invertors & Stabilizers</a>
     
</div>
</div>
</div>
<div class="card"
style="width: 100%; padding-left: 5%; padding-right: 5%;padding-top: 1%; background: white; border-color: white;">
<div class="row">
<div class="row">
  <div class="column" style="width: 250px;">
    <h3><b>INFORMATION</b></h3>
    <br>
    <a href="#" class="slink">Sitemap</a><br><br>
    <a href="#" class="slink">Press Release</a><br><br>
    <a href="#" class="slink">Blog</a><br><br>
    <a href="#" class="slink">About Us</a><br><br>
    <a href="#" class="slink">Terms & Conditions</a><br><br>
    <a href="#"class="slink">Careers</a>
  </div>
  <div class="column" style="width: 250px;">
    <h3><b>MY ACCOUNT</b></h3>
    <br>
    <a href="#" class="slink">My Account</a><br><br>
    <a href="#" class="slink">Orders</a><br><br>
    <a href="#" class="slink">Address</a><br><br>
    <a href="#" class="slink">Privacy & Policy</a><br><br>
    <a href="#" class="slink">Cancellation & Return Policy</a><br><br>
    <a href="#" class="slink">Shipping & Delivary</a><br><br>
    <a href="#" class="slink">Refund Policy</a>
  </div>
  <div class="column" style="width: 400px;">
    <h3><b>CUSTOMER SERVICE &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FOLLOW US</b></h3>
    <br>
    <a href="#" class="slink">FAQs</a><br><br>
    <a href="#" class="slink">Contact Us</a><br><br>
    <h3><b>PAYMENT OPTIONS</b></h3><br><br>
    
  </div>
  <div class="column" style="width: 500px;" >
    <h3><b>NEWSLETTER</b></h3>
    <br>
    <input type="email" class="form-control" placeholder="Enter your email here.." style="width: 250px;">
    <button class="btn btn-warning" type="submit">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
      </svg>
    </button><br><br>
    <h3><b>CONTACT US</b></h3>
    <p>S-19, Janta Market, Rajouri Garden, New Delhi
      <br><br>
      sales@bestofelectricals.com
      <br><br>
      +91 88006 99154
    </p>
  </div>
</div>
</div>