<div class="card"
style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: rgb(33, 73, 73); border-color: white; color: white;">
<div class="row">
  <div class="column" style="width: 20%;">
      Fan
      <br>
      LED & Lighting
      <br>
      Cables & Wires
      <br><br>
      Switches & Automation <br><br>
      Protection Devices <br>
      Switchgears <br>
      Appliances <br>
      Weatherproof Devices <br>
      Consumables <br>
      Tools & Elec Hardware <br>
      Meter
  </div>
  <div class="column" style="width: 80%;color: white;">
    <a href="#">Celling Fans</a> | <a href="#">Luxury Fans</a> | <a href="#">Wall Fans</a> | <a href="#">Table Fans & Personal Fans</a>
     | <a href="#">Exhaust Fans</a> | <a href="#">Pedestal Fans</a> | <a href="#">Tower Fans</a>
     <br>
     <a href="#">LED Lights</a> | <a href="#">CFLs</a> | <a href="#">Domestic Tube Fitting</a> | <a href="#">Flood Lights</a>
     | <a href="#">Ballasts & Igniters</a> | <a href="#">Decorative Lights</a> | <a href="#">Lamps</a> | <a href="#">Desk Lights</a>
     | <a href="#">Street Lights</a>
     <br>
     <a href="#">House Wires(1mm-6mm)</a> | <a href="#">Flexible Wires</a> | <a href="#">Multicore Cables And Wires</a> | <a href="#">Coaxial Cables</a>
     | <a href="#">Networking Cables & Accessries</a> | <a href="#">Fiber Glass Cables</a> | <a href="#">Telephone Cables & Accessories</a> | <a href="#">Camera Wires</a>
     | <a href="#">Armoured Cables</a> | <a href="#">Solar DC Wires</a> | <a href="#">Shield Wires</a>
     <br>
     <a href="#">Modular Switches</a> | <a href="#">Modular Sockets</a> | <a href="#">Fan Regulators & Dimmers</a> | <a href="#">RJ11, RJ45 & TV Sockets</a>
     | <a href="#">Indicators & Buzzers</a> | <a href="#">Plates & Boxes</a> | <a href="#">USB, HDMI, RC, VGA Sockets</a> | <a href="#">Modular Protection</a>
     | <a href="#">Automation</a> | <a href="#">For Hospitality</a> | <a href="#">Pop Up Boxes</a>
     <br>
     <a href="#">MCBs</a> | <a href="#">ELCB Or RCCB</a> | <a href="#">RCBOs</a> | <a href="#">MCCBs</a>
     | <a href="#">Isolators</a> | <a href="#">MCB Changeovers</a> | <a href="#">Distribution Boards</a>
     <br>
     <a href="#">Control Gears</a> | <a href="#">Capacitors</a> | <a href="#">Industrial Plugs And Sockets</a> | <a href="#">Flexible Conduits</a>
     <br>
     <a href="#">Air Cooler</a> | <a href="#">Irons</a> | <a href="#">Cooking</a> | <a href="#">Geysers</a>
     | <a href="#">Room Heater</a> | <a href="#">Food Preparation</a> | <a href="#">Brewing</a> | <a href="#">Domestic Motors & Pumps</a>
     | <a href="#">Chimney/Hoods</a> | <a href="#">UPS, Invertors & Stabilizers</a>
     <br>
     <a href="#">MCB Enclosure</a> | <a href="#">Junction Boxes</a> | <a href="#">Cooking</a> | <a href="#">Geysers</a>
     | <a href="#">Room Heater</a> | <a href="#">Food Preparation</a> | <a href="#">Brewing</a> | <a href="#">Domestic Motors & Pumps</a>
     | <a href="#">Chimney/Hoods</a> | <a href="#">UPS, Invertors & Stabilizers</a>
     
</div>
</div>
</div>