* {
    box-sizing: border-box;
  }
  .row{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .column {
    float: left;
    text-align: left;
    width: 17%;
    padding: 2px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  a:link{
      text-decoration: none;
  }
  .link{
    color: white;
  }
  .slink{
    color: rgb(83, 80, 80);
  }