  * {
    box-sizing: border-box;
  }
  .row{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .column {
    float: left;
    text-align: center;
    width: 17%;
    padding: 2px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  a:link {
    font-size: medium;
    text-decoration: none;
  }
  a:hover{
    color: green;
  }