<mat-card class="my-card">
    <h1 class="title">REGISTER</h1>
    <mat-card-content>
    <form class="registerForm">
        <div class="card"
    style="width: 100%; padding-left: 10%; padding-right: 10%;padding-top: 2%; background: white; border-color: white;">
    <div class="row">
      <div class="column" style="width: 50%;">
        <label class="example-margin"><b>Your Personal Details:</b></label><br>
       <mat-form-field class="full-width">
              <input  matInput  placeholder="First name:"  name="fname"  required>
           </mat-form-field><br>
           <mat-form-field class="full-width">
              <input  matInput  placeholder="Last Name:" name="lname"  required>
           </mat-form-field><br>
           <mat-form-field class="full-width">
            <input type="email" matInput  placeholder="Email:" name="email" required>
         </mat-form-field><br>
            <label class="example-margin"><b>Your Contact Information:</b></label><br>
           <mat-form-field class="full-width">
              <input  matInput  placeholder="Mobile No.:" name="mobile"  required>
           </mat-form-field><br>
        </div>
        <div class="column" style="width: 50%; padding-left: 2%;">
            <label class="example-margin"><b>Your Password:</b></label><br>
           <mat-form-field class="full-width">
              <input type="password" matInput  placeholder="Password:"  name="pswd" required>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
            
            <input type="password" matInput  placeholder="Confirm Password:"  name="cpswd" required>
         </mat-form-field>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="register()">REGISTER</button>
          
          <br><br>
          <label class="gateway">Quick login gateway</label><br>
          
            <button mat-raised-button color="warn" >LOGIN WITH GOOGLE</button>&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary" >LOGIN WITH FACEBOOK</button>
          </mat-card-actions>
          
    </div>
        </div>   
    </form>
  </mat-card-content>
</mat-card>